version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      # แก้ให้ตรงกับ .env ของคุณ
      - DB_USERNAME=postgres
      - DB_PASSWORD=1234
      - DB_NAME=postgres
      - JWT_SECRET=secretKey
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      # แก้ให้ตรงกับที่ Backend เรียกใช้
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1234
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  pgdata:

networks:
  app-network: