@tailwind base;
@tailwind components;
@tailwind utilities;

/* ปรับ body ให้เต็มจอและสีพื้นหลังถูกต้อง */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f9fafb; /* สีเทาอ่อน */
  font-family: sans-serif;
}